.firstCenter {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}

.newAnimal {
  border-style: solid;
  border-width: 2px;
  border-color: green;
  margin-right: 50%;
  display: table-cell;
}

.searchAnimal {
  border: solid 2px blue;
  margin-left: 50%;
  display: table-cell;
}
